.navbar {
  padding: 15px;
  background-image: url(./header2.PNG);
  background-repeat: no-repeat;
  background-size: 100% 70%;
}


.link {
  padding-top: 20px;
  text-decoration: none;
  color: #659dfd;
  font-weight: 800;
}